*.o
*.d
*.obs
*.ini
*.local
Release
Release_Build
Debug
Debug_Build
__history
Makefile
*.pro.user
__astcache
bin/*
app/consapp/*/gcc/*
util/gencrc/gencrc
util/gencrc/genmsk
util/gencrc/genxor
util/rnx2rtcm/rnx2rtcm
util/simobs/gcc/simobs
test/utest/t_atmos
test/utest/t_coord
test/utest/t_geoid
test/utest/t_gloeph
test/utest/t_ionex
test/utest/t_lambda
test/utest/t_matrix
test/utest/t_misc
test/utest/t_ppp
test/utest/t_preceph
test/utest/t_rinex
test/utest/t_time
test/utest/t_tle
*.qmake.stash