*.o
*.d
*.obs
*.ini
*.local
Release
Release_Build
Debug
Debug_Build
__history
Makefile
*.pro.user
__astcache
bin/*
app/consapp/*/gcc/*
util/gencrc/gencrc
util/gencrc/genmsk
util/gencrc/genxor
util/rnx2rtcm/rnx2rtcm
util/simobs/gcc/simobs
*.qmake.stash
