*.o
*.obs
*.ini
*.local
*.exe
Release
Release_Build
Debug_Build
__history
bin/*
!bin/readme.txt
app/convbin/gcc/convbin
app/pos2kml/gcc/pos2kml
app/rnx2rtkp/gcc/rnx2rtkp
app/rtkrcv/gcc/rtkrcv
app/str2str/gcc/str2str
